/*
 Theme Name:     Kesyt
 Theme URI:      foo 
 Description:    Kesyt teema
 Author:         Your name here
 Author URI:     http://example.com/about/
 Template:       thematic
 Version:        0.1.0
 */
/* line 17, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, sass/style.scss */
html {
  height: 100%;
}

/* line 18, sass/style.scss */
body {
  height: 100%;
  min-width: 100%;
}

/* line 23, sass/style.scss */
#header {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #32431f), color-stop(100%, #192b18));
  background-image: -webkit-linear-gradient(#32431f, #192b18);
  background-image: -moz-linear-gradient(#32431f, #192b18);
  background-image: -o-linear-gradient(#32431f, #192b18);
  background-image: linear-gradient(#32431f, #192b18);
  min-width: 100%;
  background-color: green;
  line-height: 2em;
}
/* line 29, sass/style.scss */
#header div {
  display: inline-block;
}
/* line 33, sass/style.scss */
#header h1 {
  display: inline-block;
}
/* line 36, sass/style.scss */
#header #logo {
  display: block;
  height: 10em;
  line-height: 10em;
  padding-left: 1em;
}
/* line 42, sass/style.scss */
#header #logo .logo {
  font-size: 10em;
  color: #01d81f;
}
/* line 48, sass/style.scss */
#header #branding {
  padding-left: 1em;
}
/* line 52, sass/style.scss */
#header #lower-header {
  height: 4em;
  line-height: 4em;
  width: 100%;
  padding-left: 1em;
  background-color: #c7e0a7;
  -webkit-box-shadow: inset 0px 3px 2px 0 #9b9d9b;
  -moz-box-shadow: inset 0px 3px 2px 0 #9b9d9b;
  box-shadow: inset 0px 3px 2px 0 #9b9d9b;
}

/* line 66, sass/style.scss */
#wrapper {
  height: 100%;
}

/* line 71, sass/style.scss */
#main {
  min-height: 100%;
  height: 100%;
}

/* line 78, sass/style.scss */
#main > #container {
  max-width: 960px;
  margin: 0 auto;
}
/* line 81, sass/style.scss */
#main > #container #grid {
  background: url("images/grid-960.png");
  background-repeat: repeat-y;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
/* line 90, sass/style.scss */
#main > #container div {
  margin: 0 1.042% 2em 1.542%;
}
