@import "compass/css3/images";
@import "compass/css3/box-shadow";

$content-width: 960px;
$site-width: 100%;
$top-gradient-start: #32431f;
$top-gradient-end: #192b18;
$lower-header-color: #c7e0a7;

$logo-color: #01d81f;
@mixin centered {
    margin: 0 auto;  
}
