/*
 Theme Name:     Kesyt
 Theme URI:      foo 
 Description:    Kesyt teema
 Author:         Your name here
 Author URI:     http://example.com/about/
 Template:       thematic
 Version:        0.1.0
 */

@import "compass/reset";
@import "base";

html {
    height: 100%;
}

body {
    height: 100%;
    min-width: $site-width; 
}

#header {
@include background-image(linear-gradient($top-gradient-start, $top-gradient-end));
    min-width: $site-width;
    background-color: green;
    line-height: 2em;

    div {
        display: inline-block;
    }

    h1 {
        display: inline-block;
    }
    #logo {
        display: block;
        height: 10em;
        line-height: 10em;
        padding-left: 1em;
        
        .logo {
            font-size: 10em;
            color: $logo-color;
        }
    }
    
    #branding {
        
        padding-left: 1em;
    }
    #lower-header {
    
        height: 4em;
        line-height: 4em;
        width: 100%;
        padding-left: 1em;
        background-color: $lower-header-color; 
        @include single-box-shadow(#9b9d9b, 0px, 3px, 2px, 0, inset);
    }


}


#wrapper {
    height: 100%;
}


#main {
    min-height: 100%;
    height: 100%;


}

#main > #container {
    max-width: $content-width;
    @include centered;
    #grid {
        background: url("images/grid-960.png");
        background-repeat: repeat-y;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.5;

    }
    div {
        margin: 0 1.042% 2em 1.542%;
    }
}

